<%- provide :title, "About" %>
<%- provide :keywords, "kevin, sylvestre, software, engineer" %>
<%- provide :description, "A Ruby and iOS developer and designer." %>
<%- provide :head %>

<p>
  I am a software engineer and hobbyist designer living in Vancouver, BC Canada. I work mostly on iOS and Ruby on Rails projects. I consult with companies with their mobile or web needs.
</p>

<p>
  Previously I worked at Pose in California. I was the lead software engineer on both the iOS and Ruby on Rails teams and helped to grow the company to over 3 million users. Our mobile application has been featured by Apple many times as “App of the Week”, “Best New App”, and even “App Store Best of the Year“.
</p>

<p>
  I grew up in Canada and was born in Whitehorse, Yukon then moved to Waterloo, Ontario for a degree in Computer Science from the University of Waterloo. After finishing my degree, I started a software consulting business NeverBored Studios with some fellow graduates and specialized in Ruby and iOS contract work for a few years before moving to California. We launched a number of different iPhone, iPad and Mac apps and made numerous open source contributions.
</p>

<p>
  Some of the technologies I have recently been using are:
</p>

<ul class="list-disc list-inside">
  <li>Swift for Mac or iOS</li>
  <li>Ruby with Rails with RSpec</li>
  <li>TypeScript with React and Webpack</li>
  <li>Postgres</li>
  <li>Sketch</li>
</ul>

<p>
  I have also had the opportunity to volunteer for a few not for profits doing design and development work:
</p>

<ul  class="list-disc list-inside">
  <li>Yukon River Trail Marathon</li>
  <li>Kluane Chilkat International Bike Relay</li>
  <li>KW Synchronized Swimming Club</li>
  <li>Canada Winter Games</li>
</ul>

<p>
  When I am not coding, I enjoy reading, biking, hiking, and snowboarding.
</p>
