- provide :title, "Contact"
- provide :keywords, "kevin, sylvestre, github, stack, twitter, facebook, linkedin, dribbble, google, vimeo"
- provide :description, "How to get in touch. Try GitHub, Stack, Twitter, Facebook, LinkedIn, Google or Vimeo."
- provide :head

.grid
  a.card href=github_url
    .card__icon
      i.fab.fa-github
    h1.card__name GitHub
  a.card href=stackoverflow_url
    .card__icon
      i.fab.fa-stack-overflow
    h1.card__name StackOverflow
  a.card href=twitter_url
    .card__icon
      i.fab.fa-twitter
    h1.card__name Twitter
  a.card href=facebook_url
    .card__icon
      i.fab.fa-facebook
    h1.card__name Facebook
  a.card href=linkedin_url
    .card__icon
      i.fab.fa-linkedin
    h1.card__name LinkedIn
  a.card href=dribbble_url
    .card__icon
      i.fab.fa-dribbble
    h1.card__name Dribbble
  a.card href=google_url
    .card__icon
      i.fab.fa-google
    h1.card__name Google
  a.card href=vimeo_url
    .card__icon
      i.fab.fa-vimeo
    h1.card__name Vimeo
