<%- provide :title, "Portfolio" -%>
<%- provide :keywords, "clutter, pose, hearts, vidfolia, winescan" -%>
<%- provide :description, "iOS and web apps designed or developed including Pose, Hearts, Vidfolia, Winescan and More!" -%>
<%- provide :head -%>

<div class="flex flex-col gap-8">
  <%- Portfolio.all.each do |portfolio| -%>
    <section>
      <h3 class="mb-8 text-4xl"><%= portfolio.name %></h1>

      <p class="my-8"><%= portfolio.summary %></p>

      <div class="mt-8" data-controller="gallery">
        <div class="grid gap-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
          <%- portfolio.images do |image| -%>
            <%= link_to image_path(image[:original]), data: { action: "click->gallery#zoom:prevent:stop" }, target: "_blank" do %>
              <%= image_tag image_path(image[:thumb]), size: image[:size], class: "rounded-2xl" %>
            <% end %>
          <%- end -%>
        </div>
        <div class="lighten" data-gallery-target="dialog" style="display: none" data-action="click->gallery#close:prevent:stop">
          <div class="lighten__container">
            <img class="lighten__content" data-gallery-target="content">
            <button class="lighten__close" data-gallery-target="close" data-action="click->gallery#close:prevent:stop">×</a>
          </div>
        </div>
      </div>
    </section>
  <%- end -%>
</div>
