- provide :title, "Portfolio"
- provide :keywords, "clutter, pose, hearts, vidfolia, pickupfc, productwiki"
- provide :description, "iOS and web apps designed or developed including Pose, Hearts, Vidfolia, Winescan, PickupFC and More!"
- provide :head

- Portfolio.all.each do |portfolio|
  h1
    - if portfolio.url
      = link_to portfolio.name, String(portfolio.url)
    - else
      = portfolio.name
  p= portfolio.summary
  div data-controller="gallery"
    .grid
      - portfolio.images do |image|
        .zoomer data-action='click->gallery#zoom' data-gallery-url-param=image_path(image[:original])
          = image_tag image_path(image[:thumb]), size: image[:size], class: 'zoomer__image'
          .zoomer__mask
    .lighten data-gallery-target="dialog" style="display: none"
      .lighten__overlay data-gallery-target="overlay" data-action='click->gallery#close'
      .lighten__container
        img.lighten__content data-gallery-target="content"
        a.lighten__close data-gallery-target="close" data-action='click->gallery#close' ×

  - portfolio.videos do |video|
    .player
      iframe width="960" height="540" src=video[:url] frameborder="0"
