<%- provide :title, "Portfolio" -%>
<%- provide :keywords, "clutter, pose, hearts, vidfolia, winescan" -%>
<%- provide :description, "iOS and web apps designed or developed including Pose, Hearts, Vidfolia, Winescan and More!" -%>
<%- provide :head -%>

<div data-controller="gallery">
  <div class="flex flex-col gap-8">
    <%- Portfolio.all.each do |portfolio| -%>
      <section>
        <h3 class="mb-8 text-4xl"><%= portfolio.name %></h3>

        <p class="my-8"><%= portfolio.summary %></p>

        <div class="mt-8">
          <div class="grid gap-6 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1"">
            <%- portfolio.images do |image| -%>
              <%= link_to image_path(image[:original]), data: { action: "click->gallery#zoom:prevent:stop" }, target: "_blank" do %>
                <%= image_tag image_path(image[:thumb]), size: image[:size], class: "rounded-2xl" %>
              <% end %>
            <%- end -%>
          </div>

      </section>
    <%- end -%>
  </div>

  <div class="flex fixed inset-0 w-screen h-screen items-center justify-center bg-white bg-opacity-80" data-gallery-target="dialog" style="display:none" data-action="click->gallery#close:prevent:stop">
      <div class="relative">
        <img class="shadow block max-w-[calc(100vw-40px)] max-h-[calc(100vh-40px)]" data-gallery-target="content">
        <button class="absolute left-0 top-0 h-8 w-8 -m-4 rounded-full text-white font-black bg-slate-600 hover:bg-slate-800" data-gallery-target="close" data-action="click->gallery#close:prevent:stop">×</a>
      </div>
    </div>
  </div>
</div>
