<%- provide :title, "Projects" -%>
<%- provide :keywords, "attached, formula, erroneous, identifier, serializer, setup, age, carousel, gridly, growl, lighter, modal, obsere, spin" -%>
<%- provide :description, "Links to Ruby, Rails, iOS, JS and Bash projects." -%>
<%- provide :head -%>

<div class="grid gap-6 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
  <%- Project.all.each do |project| -%>
    <%= link_to(String(URI.parse(project.url)), class: "text-center rounded-2xl p-8 bg-slate-100 hover:bg-slate-200") do %>
      <div class="font-normal text-6xl text-slate-400 mb-4">
        <%= tag.i class: project.icon %>
      </div>
      <h1 class="font-black text-2xl text-slate-800 my-4">
        <%= project.name %>
      </h1>
      <p class="font-light text-lg text-slate-600 mt-4">
        <%= project.description %>
      </p>
    <% end %>
  <%- end %>
</div>
