<%- provide :title, "Admin » Pages » New" -%>

<nav class="breadcrumb">
  <%= link_to "Admin", admin_path %>
  <span>/</span>
  <%= link_to "Pages", admin_pages_path %>
  <span>/</span>
  <span>New</span>
</nav>

<%= render "form", page: @page %>
