<%- provide :title, "Admin » Attachments » New" -%>

<nav class="crumbs">
   <%= link_to 'Admin', admin_path %> » <%= link_to 'Attachments', admin_attachments_path %> » New
</nav>

<%= render 'form', attachment: @attachment %>
