<%- provide :title, "Admin » Attachments » New" -%>

<nav class="breadcrumb">
  <%= link_to "Admin", admin_path %>
  <span>/</span>
  <%= link_to "Attachments", admin_attachments_path %>
  <span>/</span>
  <span>New</span>
</nav>

<%= render "form", attachment: @attachment %>
