- provide :title, "Admin » Dashboard"

nav.crumbs #{link_to 'Admin', admin_path} » Dashboard

.hero
  h1 Welcome
  .buttons
    a.button href=new_admin_post_path Create a new Post
    a.button href=new_admin_page_path Create a new Page
