<%- provide :title, "Admin » Dashboard" -%>

<nav class="breadcrumb">
  <%= link_to "Admin", admin_path %>
  <span>/</span>
  <span>Dashboard</span>
</nav>

<h1>Welcome</h1>
<div class="flex gap-4">
  <%= link_to "Create a new Post", new_admin_post_path, class: "button" %>
  <%= link_to "Create a new Page", new_admin_page_path, class: "button" %>
</div>
