version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.4.5
  docker: circleci/docker@2.2.0
  node: circleci/node@5.1.0
  ruby: circleci/ruby@2.1.0

executors:
  default:
    docker:
      - image: cimg/ruby:3.2.2-browsers
      - image: cimg/postgres:15.2
        environment:
          POSTGRES_USER: circleci
          POSTGRES_DB: personal_test
          POSTGRES_HOST_AUTH_METHOD: trust
    environment:
      CI: on
      RAILS_ENV: test
      PGHOST: localhost

commands:
  setup_ruby:
    steps:
      - ruby/install-deps:
          key: gems-v2
  setup_node:
    steps:
      - node/install-packages:
          pkg-manager: yarn

jobs:
  eslint:
    executor: default
    steps:
      - checkout
      - setup_node
      - run: yarn eslint app/packs

  prettier:
    executor: default
    steps:
      - checkout
      - setup_node
      - run: yarn prettier --check app/packs

  rubocop:
    executor: default
    steps:
      - checkout
      - setup_ruby
      - ruby/rubocop-check

  brakeman:
    executor: default
    steps:
      - checkout
      - setup_ruby
      - run: bundle exec brakeman -z --format html --output tmp/brakeman.html
      - store_artifacts:
          path: tmp/brakeman.html
          destination: brakeman.html

  rspec:
    executor: default
    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt-get install libvips
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - setup_ruby
      - setup_node
      - run: dockerize -wait tcp://localhost:5432 -timeout 2m # Postgres
      - run: ./bin/rails test:prepare
      - ruby/rspec-test
      - run: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-$CC_TEST_REPORTER_VERSION > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter format-coverage -t simplecov coverage/coverage.json
          ./cc-test-reporter upload-coverage

  assets:
    executor: default
    steps:
      - checkout
      - setup_ruby
      - setup_node
      - run: ./bin/rails assets:precompile

workflows:
  version: 2.1
  build:
    jobs:
      - docker/hadolint
      - docker/publish:
          cache_from: $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME:latest
          executor:
            name: docker/machine
            image: ubuntu-2204:2023.02.1
          image: $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME
          tag: << pipeline.git.revision >>`if [ '<< pipeline.git.branch >>' == 'main' ]; then echo ",latest"; fi`
      - eslint
      - prettier
      - brakeman
      - rubocop
      - rspec
      - assets
