title= "#{yield(:title)} | Kevin Sylvestre"
meta charset="UTF-8"

meta name="viewport" content=viewport

= favicon_link_tag(asset_pack_url("shared/images/favicon.ico"), sizes: "16x16 24x24 32x32 48x48 64x64")

= csrf_meta_tags

= stylesheet_pack_tag "admin", "data-turbolinks-track": "reload", async: "async"
= javascript_pack_tag "admin", "data-turbolinks-track": "reload", async: "async"
