<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/admin/head" %>
  <body>
    <%= render "layouts/admin/header" %>
    <%= render "layouts/admin/content" %>
    <%= render "layouts/admin/footer" %>
  </body>
</html>
