meta name="twitter:card" content="summary"
meta name="twitter:site" content="@ksylvest"
meta name="twitter:title" content=yield(:title)
meta name="twitter:description" content=yield(:description)
meta name="twitter:image" content=image_path("profile/default.jpg")
meta name="twitter:image:width" content=1600
meta name="twitter:image:height" content=1600
