meta property="og:type" content="website"
meta property="og:title" content=yield(:title)
meta property="og:description" content=yield(:description)
meta property="og:image" content=asset_pack_url("media/application/images/profile/default.jpg")
meta property="og:url" content=request.url
