<%- cache page do -%>
  <article>
    <h3 class="mb-2">
      <%= link_to(page.title, page_path(slug: page.slug)) %>
    </h3>

    <p class="my-2">
      <%= time_tag(page.date, l(page.date, format: :human), class: "text-slate-400") %>
    </p>

    <div class="my-2">
      <%= render "pages/tags", tags: page.tags %>
    </div>

    <p class="mt-2">
      <%= page.summary %>
    </p>
  </article>
<%- end -%>
