<%- cache page do -%>
  <article class="space-y-2">
    <h3>
      <%= link_to(page.title, page_path(slug: page.slug)) %>
    </h3>

    <p>
      <%= time_tag(page.date, l(page.date, format: :human)) %>
    </p>

    <div>
      <%= render "pages/tags", tags: page.tags %>
    </div>

    <p>
      <%= page.summary %>
    </p>
  </article>
<%- end -%>
