<%- provide :title, @page.title -%>
<%- provide :description, @page.summary -%>
<%- provide :keywords, @page.keywords -%>
<%- provide :head do -%>
<%= tag.link rel: "canonical", href: @page.canonical_url || post_url(slug: @post.slug) %>
<%- end -%>

<%- cache @page do -%>
  <h1><%= @page.title %></h1>
  <%= render "pages/tags", tags: @page.tags %>
  <section class="body"><%= markdown @page.body %></section>
<%- end -%>
