<%- provide :title, "Admin » Pages » Edit" -%>

<nav class="breadcrumb">
  <%= link_to "Admin", admin_path %>
  <span>/</span>
  <%= link_to "Posts", admin_posts_path %>
  <span>/</span>
  <span>Edit</span>
</nav>

<%= render "form", post: @post %>
