- provide :title, "Admin » Posts"

nav.crumbs #{link_to 'Admin', admin_path} » Posts

- cache @posts do
  ul.grid
    - @posts.each do |post|
      li.grid__entry
        span.grid__title= truncate post.title, length: 40
        span.grid__options
          = link_to 'Show', post_path(segment: post.segment, slug: post.slug), class: 'button show'
          = link_to 'Edit', edit_admin_post_path(post), class: 'button edit'
          = link_to 'Destroy', admin_post_path(post), method: :delete, class: 'button destroy', data: { confirm: "Are you sure?" }

= paginate @posts

.actions
  = link_to 'New', new_admin_post_path, class: 'button'
