<%- provide :title, "Admin » Posts » New" -%>

<nav class="breadcrumb">
  <%= link_to "Admin", admin_path %>
  <span>/</span>
  <%= link_to "Posts", admin_posts_path %>
  <span>/</span>
  <span>New</span>
</nav>

<%= render "form", post: @post %>
