<%- provide :title, "Missing" -%>
<%- provide :description, "The page you were looking for does not exist." -%>
<%- provide :keywords -%>
<%- provide :head -%>

<h1>The page you were looking for does not exist.</h1>
<h2>You may have mistyped the address or the page may have moved.</h2>
<p>If you continue to experience problems please contact us at <%= mail_to "info@ksylvest.com" %>.</p>
