<%= form_for(search, method: :get, url: search_path) do |form| %>
  <div class="group">
    <%= text_field_tag(:query, search.query, placeholder: 'Search', class: 'search', autocomplete: 'nope') %>
    <%= submit_tag('Search', class: 'button') %>
  </div>
<% end %>
