<%- provide :title, "Search" %>
<%- provide :keywords, "kevin, sylvestre, software, engineer" %>
<%- provide :description, "Search through posts and pages to find the results you are looking for." %>
<%- provide :head %>

<%= render 'form', search: @search %>

<%- if @search.present? -%>
  <%- cache @posts do -%>
    <div class="posts">
      <%= render partial: 'posts/summary', collection: @posts, as: :post %>
    </div>
  <%- end %>
  <%- cache @pages do -%>
    <div class="pages">
      <%= render partial: 'pages/summary', collection: @pages, as: :page %>
    </div>
  <%- end %>
<%- end -%>
