<%- provide :title, "Archive" -%>
<%- provide :keywords, "kevin, sylvestre, software, engineer, archive" -%>
<%- provide :description, "An archive of content by a Ruby and iOS developer and designer." -%>
<%- provide :head -%>

<%- archive = nil -%>

<%- @posts.each do |post| -%>

  <%- unless archive.eql?(post.date.strftime("%B %Y")) -%>
    <%- archive = post.date.strftime("%B %Y") -%>
    <h1 class="segment"><%= archive %></h1>
  <%- end -%>

  <%= render partial: "posts/summary", locals: { post: post } %>
<%- end -%>
