- cache post do
  article.post.summary
    h1.title= post.title
    p.time= time_tag(post.date, l(post.date, format: :human))
    = render 'posts/tags', tags: post.tags
    section.summary= post.summary
    p.actions= link_to 'More', post_path(segment: post.segment, slug: post.slug), class: 'more'
