<%- provide :title, "Home#{filters(params)}" %>
<%- provide :keywords, "ruby, rails, ios, ipad, iphone, cocoa, coffeescript, sass, haml, neat, bourbon, backbone" %>
<%- provide :description, "Writings of Ruby and iOS developer and designer.#{filters(params)}" %>
<%- provide :head, rel_next_prev_link_tags(@posts) %>


<div class="space-y-16">
  <%- cache @posts do -%>
    <%= render partial: "summary", collection: @posts, as: :post %>
  <%- end %>
</div>

<%= paginate @posts %>
