<%- provide :title, @post.title %>
<%- provide :description, @post.summary %>
<%- provide :keywords, @post.keywords %>
<%- provide :head %>

<h1><%= @post.title %></h1>
<p><%= time_tag(@post.date, l(@post.date, format: :human)) %></p>
<%= render "posts/tags", tags: @post.tags %>
<%= markdown(@post.body) %>
