<%- provide :title, @post.title %>
<%- provide :description, @post.summary %>
<%- provide :keywords, @post.keywords %>
<%- provide :head %>

<%- cache @post do -%>
  <div class="post details">
    <header class="header">
      <h1 class="title"><%= @post.title %></h1>
      <p class="time"><%= time_tag(@post.date, l(@post.date, format: :human)) %></p>
      <%= render 'posts/tags', tags: @post.tags %>
    <section class="body">
      <%= markdown @post.body %>
    </section>
  </div>
<%- end -%>
