.card
  color: $asbestos
  background-color: $clouds
  padding: 20px
  display: block
  overflow: hidden
  position: relative

  transition-duration: $fast
  transition-property: background-color, border-color, color

  img
    width: 100%
    height: auto
    display: block
    transition-duration: $fast
    transition-property: transform
    transform: scale(1.0)

  &:hover
    color: $clouds
    background-color: $asbestos

    img
      transform: scale(1.2)

  .mask
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

    transition-duration: $fast
    transition-property: background-color
    background-color: rgba($belize, 0.0)
    &:hover
      background-color: rgba($belize, 0.2)

  &.thumb
    padding: 2px

  .icon
    display: block
    text-align: center
    font-size: 100px
    line-height: 100px
    margin: $spacing 0

  .name
    color: inherit
    text-align: center
    margin: $spacing 0

  .description
    color: inherit
    text-align: center
    margin: $spacing 0
