.grid
  margin: 8px 0
  display: grid
  grid-column-gap: 20px
  grid-row-gap: 20px
  grid-template-columns: repeat(3, auto)

@media (min-width: 640px) and (max-width: 960px)
  .grid
    grid-template-columns: repeat(2, auto)

@media (min-width: 320px) and (max-width: 640px)
  .grid
    grid-template-columns: repeat(1, auto)
