footer#footer
  .content
    nav.social
      a href=github_url GitHub
      a href=twitter_url Twitter
      a href=facebook_url Facebook
      a href=linkedin_url Linkedin
      a href=dribbble_url Dribbble
      a href=google_url Google
      a href=stackoverflow_url Stack
      a href=vimeo_url Vimeo
      a href=feed_url(:atom) Feed

    p.copy &copy; #{Time.now.year} Kevin Sylvestre
