<footer>
  <nav class="mb-4 nav">
    <%- footer_nav.each do |(text, link)| -%>
      <%= link_to text, link %>
    <%- end -%>
  </nav>
  <p class="mt-4 copy"> &copy; <%= Time.current.year %> Kevin Sylvestre</p>
</footer>
