<header>
  <div class="mb-4 flex items-center justify-center">
    <%= link_to root_path do %>
      <picture>
        <%- %w[avif webp jpeg].each do |ext| -%>
          <%= tag.source(
            type: "image/#{ext}",
            srcset:
              "#{image_path("avatar/default-3x.#{ext}")} 3x, " \
              "#{image_path("avatar/default-2x.#{ext}")} 2x, " \
              "#{image_path("avatar/default.#{ext}")}"
          ) %>
        <%- end -%>
        <%= image_tag image_path("avatar/default.jpeg"), alt: "Kevin Sylvestre", class: "block rounded-2xl w-48 h-48" %>
      </picture>
    <% end %>
  </div>
  <h1 class="my-4 font-black text-4xl text-center text-slate-600">
    Kevin Sylvestre
  </h1>
  <nav class="mt-4 font-normal text-lg flex flex-wrap items-center justify-center gap-4">
    <%- header_nav.each do |(text,link)| %>
      <%= link_to text, link %>
    <%- end -%>
  </nav>
</header>
